<nav class="navbar">
    <div class="nav-left">
        <a href="/" class="logo-link">
            <img src="/img/logo.png" alt="Ella Rises Logo" class="logo">
        </a>

        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/participants">Participants</a>
        <a href="/events">Events</a>
        <a href="/surveys">Surveys</a>
        <a href="/milestones">Milestones</a>
        <a href="/donations">Donations</a>
    </div>

    <div class="nav-right nav-stack">
        <% if (user && user.username) { %>
    
            <span class="welcome">Hello, <%= user.username %></span>
    
            <a class="btn btn-secondary" href="/logout">Logout</a>
    
            <% if (user.level === "M") { %>
                <a class="btn btn-secondary btn-create-account" href="/register">
                    Create Account
                </a>
            <% } %>
    
        <% } else { %>
            <a class="btn btn-primary" href="/login">Login</a>
        <% } %>
    </div>
    
    
    
