# .ebextensions/02_certbot_renewal.config
files:
  "/etc/cron.d/certbot_renew":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Run certbot renewal twice daily at random minutes (recommended by Let's Encrypt)
      23 2,14 * * * root /usr/bin/certbot renew --quiet --deploy-hook "systemctl reload nginx"

commands:
  01_remove_old_cron:
    command: "rm -f /etc/cron.d/certbot_renew.bak"